*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(background.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}
 
.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 80px;
}

p{
    color: #fff;
    font-size: 20px;
    line-height: 15px;
}

button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 230px;
    height: 260px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(music.jpg);
    background-position: center;
    background-size: cover;

}

.card1{
    background-image: url(crkva.jpg);
    color: #fff;
    font-size: 12px;
}
.card2{
    background-image: url(sonata\ yt.jpg);
    color: #fff;
    font-size: 12px;
}

button1{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 5px;
}
footer{
    text-align: right;
    color: #fff;
    font-size: 15px;
    padding-right: 10%;
}